﻿@model ProjetoMasterChef.Domains.ViewModel.ReceitaVM

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Receita</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TituloCategoria)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TituloCategoria)
        </dd>
        <dt class="col-sm-2">
            
        </dt>
        <dd class="col-sm-10">
            
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ingredientes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ingredientes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModoDePreparo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModoDePreparo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tags)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tags)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Foto)
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.Foto" id="Imagem" name="Imagem">
        </dd>


    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdReceita">Editar</a> |
    <a asp-action="Index">Volta para a Lista</a>
</div>
