﻿@model ProjetoMasterChef.Domains.ViewModel.ReceitaVM

<h1>@ViewData["Title"]</h1>

@if (ViewData["Error"].ToString() != "")
{
    <div class="alert alert-danger" role="alert">
        @ViewData["Error"].ToString();
    </div>
}

<h4>Receita</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdReceita" />
            <input type="hidden" asp-for="ContentType" />
            <input type="hidden" asp-for="NomeDoArquivo" />
            <input type="hidden" asp-for="Foto" />

            <div class="form-group">
                <label asp-for="IdCategoria" class="control-label"></label>
                <select asp-for="IdCategoria" class="form-control" asp-items="ViewBag.IdCategoria"></select>
                <span asp-validation-for="IdCategoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <textarea asp-for="Descricao" class="form-control"></textarea>
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ingredientes" class="control-label"></label>
                <textarea asp-for="Ingredientes" class="form-control"></textarea>
                <span asp-validation-for="Ingredientes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModoDePreparo" class="control-label"></label>
                <textarea asp-for="ModoDePreparo" class="form-control"></textarea>
                <span asp-validation-for="ModoDePreparo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="file" name="file"
                               aria-describedby="inputGroupFileAddon01">
                        <label class="custom-file-label" for="file">Escolha o arquivo</label>
                    </div>
                </div>
                <div class='preview'>
                    <img src="@Model.Foto" id="Imagem" name="Imagem">
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Tags" class="control-label"></label>
                <textarea asp-for="Tags" class="form-control"></textarea>
                <span asp-validation-for="Tags" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volta para a Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            $(".custom-file-input").change(function (){
                var fd = new FormData();
                var files = $('#file')[0].files[0];
                fd.append('file', files);

                $.ajax({
                    url: 'Upload',
                    type: 'post',
                    data: fd,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        if (response.sucesso == true) {
                            $(".custom-file-label").text(files.name)
                            $("#Imagem").attr("src", response.imagem);
                            $(".preview Imagem").show(); 
                        } else {
                            alert(response.erro);
                        }
                    },
                });

            });
        });
    </script>
}
