﻿@model IEnumerable<ProjetoMasterChef.Domains.Entities.Categoria>

@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/css/slide_show.css" type="text/css" />
</head>

<!-- Slideshow container -->
<div class="slideshow-container">

    @for (int i = 0; i < Model.Count(); i++)
    {

        <!-- Full-width images with number and caption text -->
        <div class="mySlides fade">
            <div class="numbertext">@Html.Raw(i + 1) / 3</div>
            <img src="@Model.ToArray()[i].Foto" style="width:100%">
            <div class="text">@Model.ToArray()[i].Titulo</div>
        </div>
    }
    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<!-- The dots/circles -->
<div style="text-align:center">
    @for (int i = 0; i < Model.Count(); i++)
    {
        <span class="dot" onclick="currentSlide(@Html.Raw(i + 1))"></span>
    }
</div>

@section Scripts {
    <script>
        var slideIndex = 1;
        showSlides(slideIndex);

        // Next/previous controls
        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        // Thumbnail image controls
        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
        }
    </script>
}

