﻿@model IEnumerable<ProjetoMasterChef.Domains.Entities.Categoria>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista das Categorias</h1>

<p>
    <a asp-action="Edit">Nova Categoria</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                <img src="@item.Foto" asp-for="Foto">
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCategoria">Edita</a> |
                <a asp-action="Details" asp-route-id="@item.IdCategoria">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCategoria">Apaga</a>
            </td>
        </tr>
}
    </tbody>
</table>
